.call-to-action {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--event-bg);
    top: 0;
    right: 0;
    display: flex;
    transform: translateX(-100%);
    transition: 0.3s ease;
}
.call-to-action.open {
    transform: translateX(0);
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}