:root {
    --event-text: #fff9f1;
    --main-color: #363636;
    --event-color: #e1b581;
}
/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

 {
    font-family: "Roboto Condensed", sans-serif;
} */

@font-face {
    font-family: "CaveatBrush";
    src: url("/fonts/CaveatBrush-Regular.woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/RobotoCondensed-Bold.woff");
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/RobotoCondensed-Light.woff");
    font-style: normal;
}
h1 {
    font-size: 7rem;
}
h2 {
    color: var(--main-color);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Roboto-Bold";
}

.hero-text,
p {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.8rem;
    font-family: "Roboto";
}
.event-button__text {
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 800;
}
.scroll-up,
.footer-link {
    color: var(--main-color);
    text-transform: uppercase;
    font-family: "Roboto-Bold";
}
